.coursecard {
    box-sizing: border-box;

    max-width: 100%;
    padding: 18px 12px;
    background-color: white;

    border: 2px solid white;
    border-radius: 8px;
    
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.4);

    transition: all 350ms ease-out;
}

.coursecard:hover {
    border: 2px solid var(--primary-color);
}

.authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}