html {
  --primary-color: rgb(62, 169, 211);
  --light-text: rgb(97, 97, 97);
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --header-height: 82px;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  margin-top: 0;
}

input, textarea {
  box-sizing: border-box;
  font-family: var(--primary-font);
}

button {  
  font-family: var(--primary-font);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.w100 {
  width: 100%!important;
}

.w60 {
  width: 60%!important;
}

.w48 {
  width: 48%!important;
}

.w30 {
  width: 30%!important;
}

.gap2 {
  gap: 8px
}

.spacer {
  flex: 1;
}

.centered-content {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb3 {
  margin-bottom: 12px;
}